*.pyc
.vscode
mailsend.log
jumio_resp.log
sumsub_resp.log
core_resp.log
headers_app.log
smsconfirm.log
dbinfo.sh
user_files/
dbackup/
.idea/
logs/
*.bak*
*.pdf
/*.xlsx
/*.json
run_develop.bat
run_tests.bat
